/*收藏博客的边框*/
.card-info #card-info-btn {
   border:2px solid #0ff5ff !important;
   box-shadow: 1px 1px 20px #0ff5ff  !important;
   background-color:transparent !important;	
}
.button--animated:before{
   background:#0ff5ff;
}
/*所有的侧边栏边框*/
.card-widget{
    background:rgba(0,0,0,0.7) !important;
    border:2px solid #ea03f8 !important;
    box-shadow: 1px 1px 20px #ea03f8 !important;
}
/*主题下面的字体颜色*/
[data-theme='dark']{
--font-color:#fdeacc;
--text-highlight-color:#fdeacc;
}
/*电子时钟的字体颜色*/
[data-theme=dark] .clock-row{
color:#fdeacc !important;
}
/*标题和副标题*/
#subtitle,#site-title{
color:#e364d7 !important;
}